/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #73ccff, #5457f5);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* Aesthetic H1 and H2 styling */
h1, h2 {
  margin-bottom: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

/* Buttons */
button {
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: #255b9c;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

button:hover {
  background-color: #162447;
}

button:disabled {
  background-color: #666;
}

/* Controls styling */
.controls {
  margin-top: 1.5rem;
}

#timer {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 1rem;
  position: absolute; /* Position the timer absolutely */
  top: 20px; /* aligns to the top */
  right: 20px; /* aligns to the right */
}

#next-btn {
  position: fixed;
  bottom: 0px; 
  right: 0;
  /* transform: translateX(-50%); */
  border-radius:0px;
  width: 50%;
  font-size: 20px;
}

#prev-btn {
  position: fixed;
  bottom: 0px; 
  left: 0;
  /* transform: translateX(-50%); */
  border-radius:0px;
  width: 50%;
  font-size: 20px;
}

/* Hidden elements */
.hidden {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    padding: 1rem;
  }

  button {
    width: 80%;
  }
}


.mcqoption {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgb(217, 255, 0);
  padding: 10px;
  border-radius: 5px;
}

.mcqoption input[type="radio"] {
  margin-right: 10px;
  /* Add your desired styling for the radio button */
}

.mcqoption label {
  font-size: 16px;
  /* Add your desired styling for the label */
}